Source: vyatta-rest
Section: net
Priority: optional
Maintainer: NuDanOS Maintainers <jon@fernandez.tech>
Build-Depends: debhelper-compat (= 13),
 config-package-dev,
 dh-autoreconf,
 dh-yang,
 wget,
 unzip,
 fakeroot,
 lighttpd,
 libpam0g-dev,
 libfcgi-dev,
 libjansson-dev,
 libvyatta-cfg-dev (>= 0.104.24),
 vyatta-opd-dev,
 libcurl4-openssl-dev | libcurl-dev,
 gawk,
 libvyatta-util-dev (>= 0.14),
 libaudit-dev,
 cpio,
 libssl-dev
Standards-Version: 4.7.2
Rules-Requires-Root: no
Vcs-Git: https://github.com/nudanos/vyatta-rest.git
Vcs-Browser: https://github.com/nudanos/vyatta-rest

Package: vyatta-rest
Architecture: any
Breaks: vyatta-op (<< 1.0), vyatta-webgui2 (<< 1.0)
Replaces: vyatta-webgui, vyatta-op (<< 1.0), vyatta-webgui2 (<< 1.0)
Provides: ${diverted-files}
Conflicts: ${diverted-files}
Depends: ${shlibs:Depends},
 ${misc:Depends},
 ${perl:Depends},
 lighttpd,
 libjson-perl,
 lsb-base (>= 3.0-6),
 adduser,
 sysstat,
 vyatta-cfg (>= 0.104.24),
 vyatta-op,
 vyatta-restclient-perl,
 vyatta-system (>= 1.6.1),
 spawn-fcgi
Recommends: vyatta-service-dhcp-client
Description: Vyatta Rest interface
 This package provides the Vyatta Rest interface.

Package: vyatta-restclient-perl
Architecture: all
Depends: ${misc:Depends}, ${perl:Depends}
Description: Perl module Vyatta:RestVlient
 The PM implementing Vyatta:RestClient

Package: vyatta-service-https-v1-yang
Architecture: all
Depends: ${misc:Depends}, ${yang:Depends}, vyatta-rest (>= ${source:Version})
Replaces: vyatta-webgui2 (<= 0.3.370)
Section: admin
Description: vyatta-service-https-v1 module
 The YANG module for vyatta-service-https-v1
